<section class="bg-main-light shadow-xl p-4 rounded-lg ">

    <h1 class="text-4xl text-main text-center  mb-5"> Forgot Password </h1>

@if (step === 1 ) {

    <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()" >

        <div class="my-3">
            <label for="email" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Email :</label>
            <input formControlName="email" type="email" id="email" [ngClass]="
            
            {

                'valid':!verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty) ,
                'invalid':verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)
            }
            
            "
                class="bg-gray-50 border border-gray-300 text-gray-900  rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

            <app-alert-error [formName]="verifyEmail" [controlName]="'email'" />
        </div>

       
        @if ( errorMsg ) {

        <p class="text-lg text-red-600 my-3"> {{errorMsg}} </p>
        }

        <button [disabled]="verifyEmail.invalid || isLoading" type="submit" class="btn-main mt-4 block ms-auto">

            Verify

            @if (isLoading) {

            <i class="fas fa-spin fa-spinner"></i>
            }

        </button>
    </form>
}@else if (step === 2) {

    <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">

        <div class="my-3">
            <label for="resetCode" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">code :</label>
            <input formControlName="resetCode" type="text" id="resetCode" [ngClass]="
            
            {

                'valid':!verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty) ,
                'invalid':verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty)
            }
            
            "
                class="bg-gray-50 border border-gray-300 text-gray-900  rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

            <app-alert-error [formName]="verifyCode" [controlName]="'resetCode'" />
        </div>

       
        @if ( errorMsg ) {

        <p class="text-lg text-red-600 my-3"> {{errorMsg}} </p>
        }

        <button [disabled]="verifyCode.invalid || isLoading" type="submit" class="btn-main mt-4 block ms-auto">

            Verify

            @if (isLoading) {

            <i class="fas fa-spin fa-spinner"></i>
            }

        </button>
    </form>
}@else if ( step === 3) {

    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">

        <div class="my-3">
            <label for="email" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Email :</label>
            <input formControlName="email" type="email" id="email" [ngClass]="
            
            {

                'valid':!verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty) ,
                'invalid':verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)
            }
            
            "
                class="bg-gray-50 border border-gray-300 text-gray-900  rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

            <app-alert-error [formName]="verifyEmail" [controlName]="'email'" />
        </div>

        <div class="my-3">
            <label for="newPassword" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">New Password :</label>
            <input formControlName="newPassword" type="password" id="newPassword" [ngClass]="
            
            {

                'valid':!resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty) ,
                'invalid':resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty)
            }
            
            "
                class="bg-gray-50 border border-gray-300 text-gray-900  rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

            <app-alert-error [formName]="resetPassword" [controlName]="'newPassword'" />
        </div>

       
        @if ( errorMsg ) {

        <p class="text-lg text-red-600 my-3"> {{errorMsg}} </p>
        }

        <button [disabled]="resetPassword.invalid || isLoading" type="submit" class="btn-main mt-4 block ms-auto">

            Verify

            @if (isLoading) {

            <i class="fas fa-spin fa-spinner"></i>
            }

        </button>
    </form>
}

  
</section>