<section class="conatiner bg-gray-100 2xl:px-16 mt-8">

<div class="py-12">

    <div class="app-link border-b-[1px] border-gray-300">

        <h3 class="text-2xl mb-2">Get the FreshCart app</h3>
        <p class="text-gray-500">We will send you a link, open it on your phone to download the app.</p>
        <form  >
            <div class="flex items-center w-full gap-4 mb-4 p-4 ">
                
                <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email .." required />
                <button class="btn-main text-nowrap">Share App Link</button>
            </div> 
            
        </form>
    </div>

    <div class="payment flex flex-wrap space-y-3  items-center justify-between p-8 border-b-[1px] border-gray-300">
        <div class="flex items-center space-x-2 ">
            
            <h6 class="text-xl">Payment Partners</h6>
            <div class="w-10"><img src="./assets/images/amazon-pay.png" class="w-full block" alt="amazon-pay"></div>
            <div class="w-10"><img src="./assets/images/American-Express-Color.png" class="w-full block" alt="American-Express"></div>
            <div class="w-10"><img src="./assets/images/paypal.png" class="w-full block" alt="paypal"></div>
            <div class="w-10"><img src="./assets/images/mastercard.webp" class="w-full block" alt="mastercard"></div> 
        </div>
        <div class="flex items-center space-x-2 ">
            <h6 class="text-xl">Get delivereis with FreshCart </h6>
            <div class="w-24"><img src="./assets/images/get-apple-store.png" class="w-full block" alt="apple-store"></div>
            <div class="w-24"><img src="./assets/images/get-google-play.png" class="w-full block" alt="google-play"></div>

        </div>
    </div>
</div>

</section>